.main_section {
    background: url(../img/main/main_bg.png) no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100vh;
    @media (max-width: 990px) {
        height: auto;
    }
    .container {
        padding: 16vh 0;
        @media (max-width: 990px) {
            padding: 80px 15px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .main_bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .main_section_wrap {
        padding: 8vh 10vh;
        border-radius: 0px 50px 50px 0px;
        background: rgba(255, 255, 255, 0.01);
        border: 3px solid #D5D5D5;
        box-sizing: border-box;
        position: absolute;
        z-index: 2;
        margin-right: 50px;
        max-width: 1200px;
        left: -3px;
        top: 26vh;
        backdrop-filter: blur(30px);
        @media (max-width: 990px) {
            padding: 30px;
            left: 0;
            top: 0;
            position: relative;
            margin: 0 auto;
            border-radius: 30px;
        }
        .main_title {
            margin-bottom: 5vh;
            font: 6.4vh "700";
            color: #fff;
            @media (max-width: 990px) {
                font: 2.8rem "700";
                margin-bottom: 15px;
            }
            span {
                color: #E42629;
                text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
            }
        }
        .main_text {
            margin-bottom: 3vh;
            color: #fff;
            text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
            font: 4.8vh "500";
            @media (max-width: 990px) {
                margin-bottom: 10px;
                font: 1.6rem "500";
            }
        }
    }
}