.benifest {
    position: relative;
    background: url(../img/benifest/bg.png) no-repeat center center fixed;
    background-size: cover;
    .benifest_title {
        text-align: center;
        margin-bottom: 6vh;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font: 3.6vh "700";
        @media (max-width: 990px) {
            margin-bottom: 30px;
            font: 2.4rem "700";   
        }
    }
    .bg {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
    .container {
        padding: 8vh 0;
        position: relative;
        z-index: 9;
        @media (max-width: 990px) {
            padding: 50px 0;
        }
    }
    .benifest_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 8vh;
        @media (max-width: 990px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px;
        }
        @media (max-width: 576px) {
            grid-template-columns: 1fr;
        }
        .benifest_item {
            padding: 5vh 2.5vh;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            background: linear-gradient(68.66deg, #282828 18.54%, #4D4D4D 50.83%, #282828 78.96%);
            border: 1px solid #B0B0B0;
            box-sizing: border-box;
            backdrop-filter: blur(15px);
            flex-direction: column;
            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }
            .benifest_img {
                margin-bottom: 30px;
                height: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            p {
                color: #FFFFFF;
                font: 1.8vh/170% "500";
                text-align: center;
                @media (max-width: 990px) {
                    font: 1.8rem/150% "500";
                }
            }
            @media (max-width: 990px) {
                padding: 20px;
            }
        }
    }
}