@font-face {
    font-family: '300';
    src: url("../fonts/Aeroport-Light.eot") format("eot"), url("../fonts/Aeroport-Light.ttf") format("ttf"), url("../fonts/Aeroport-Light.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: '400';
    src: url("../fonts/AeroportMono.eot") format("eot"), url("../fonts/AeroportMono.ttf") format("ttf"), url("../fonts/AeroportMono.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: '500';
    src: url("../fonts/Aeroport-Medium.eot") format("eot"), url("../fonts/Aeroport-Medium.ttf") format("ttf"), url("../fonts/Aeroport-Medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: '700';
    src: url("../fonts/Aeroport-Bold.eot") format("eot"), url("../fonts/Aeroport-Bold.ttf") format("ttf"), url("../fonts/Aeroport-Bold.woff") format("woff");
    font-display: swap;
}
